.indented {
    text-indent: 2em;
}

pre.highlight {
    padding: 8px 12px;
    position: relative;

    /* Override skeleton styles */

    > code {
        border: 0;
        overflow-x: auto;
        padding-right: 0;
        padding-left: 0;
    }

    /*&.highlight {*/
    /*    border-left: 15px solid #35383c;*/
    /*    color: #c1c2c3;*/
    /*    overflow: auto;*/
    /*    white-space: pre;*/
    /*    word-wrap: normal;*/

    /*    &, code {*/
    /*        background-color: #222;*/
    /*        font-size: 14px;*/
    /*    }*/
    /*}*/

    /* Copy code to clipboard button */

    .copy {
        color: #4AF626;
        position: absolute;
        right: 1.2rem;
        top: 1.2rem;
        opacity: 0;

        &:active,
        &:focus,
        &:hover {
            background: rgba(0, 0, 0, 0.5);
            opacity: 1;
        }
    }

    &:active .copy,
    &:focus .copy,
    &:hover .copy {
        background: rgba(0, 0, 0, 0.7);
        opacity: 1;
    }
}

/* 仅当 p 标签中只有一个 img 元素时，将其居中 */
article.post div.post-content p:has(img:only-child) {
    text-align: center;
}
